body {
    background: linear-gradient(to bottom right, #ffe6f0, #ffd6ec);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    user-select: none;
    font-family: 'Jua', sans-serif;
}
input, textarea, button {
  touch-action: manipulation;
}
.game-container {
    position: relative;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    border: 4px solid #a20060;
    text-align: center;
    max-width: 400px;
    width: 100%;
}
#exit-game {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 128.02px;
  height: 38px;
  margin: 0px;
  background-color: #f78da7;
  color: #fff;
  font-size: 16px;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
#exit-game:hover {
  background-color: #d16b80;
}
h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #a20060;
}
.note {
    font-size: 14px;
    color: #a20060;
    margin-bottom: 20px;
}
#custom-note {
  color: #a20060;
  text-align: center;
  margin-top: 15px;
}
.center-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
.level-timer {
    font-size: 18px;
    margin-bottom: 15px;
    color: #a20060;
}
#level-count, #timer {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
}
#guess-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
    border-radius: 20px;
    border: 2px solid #ddd;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
    display: block;
    border: none;
    border-radius: 25px;
    background-color: #ff66a3;
    color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
}
button:hover {
    background-color: #D45487;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
#new-image {
    background-color: #f78da7;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    max-width: 150px;
}
#new-image:hover {
    background-color: #DEB5BF;
}
#new-image.shrunk {
    padding: 2px 5px;
    font-size: 12px;
    max-width: 100px;
    background-color: #f78da7;
}
#failure-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
}
#failure-note {
    font-size: 18px;
    color: red;
    text-align: center;
    margin: 20px 0;
}
#failure-image, #failure-note, #back-button {
    display: none;
}
#level-10-screen p {
  color: #a20060;
  font-weight: bold;
  text-align: center;
}
#dont-save {
    background-color: #FFD1DC;
    position: absolute;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    max-width: 150px;
    margin: 10px auto;
    left: 32.5%;
    display: block;
    border-radius: 25px;
    border: 4px solid #D45487;
    cursor: pointer;
}
#dont-save:hover {
    background-color: #DEB5BF;
}
#message {
    margin: 20px;
    font-size: 18px;
    color: green;
    transform: scale(1.05);
}
#message.incorrect {
    color: red;
    transform: scale(1.05);
}
#random-image, #guess-input, #submit-guess, #new-image, #level-timer-container {
    display: none;
}
#game-over-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
#game-over p {
    font-size: 16px;
    color: #a20060;
    margin-top: 20px;
    text-align: center;
}
#time-travel-back {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 25px;
    background-color: #ff66a3;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s ease;
}
#time-travel-back:hover {
    background-color: #D45487;
    transform: scale(1.05);
}
@media (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
    img {
        max-width: 250px;
    }
    #guess-input, button {
        max-width: 250px;
    }
}
@media (min-width: 400px) and (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
    img {
        max-width: 280px;
    }
    #guess-input, button {
        max-width: 280px;
    }
}
@media (min-width: 769px) {
    h1 {
        font-size: 26px;
    }
    img {
        max-width: 350px;
    }
    #guess-input, button {
        max-width: 350px;
    }
}