html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffe6f0, #ffd6ec);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  touch-action: manipulation;
}
body * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#exitButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 128px;
  height: 38px;
  background-color: #f78da7;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
#exitButton:hover {
  background-color: #d16b80;
}
#lockAgainButton {
  margin-top: 20px;
  background-color: #ff66a3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
#lockAgainButton:hover {
  background-color: #D45487;
}
#lockScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lock-wrapper {
  position: relative;
  max-width: 90vw;
  width: 400px;
}
.lock-wrapper img {
  width: 100%;
  display: block;
}
.container {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-inputs {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.digit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  min-width: 30px;
  max-width: 40px;
}
.digit-box button {
  width: 100%;
  height: 5vh;
  font-size: 3.5vw;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  color: #fb9ca5;
}
.digit-value {
  width: 100%;
  height: 32px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  box-sizing: border-box;
  color: #dd131c;
}
@media (max-width: 480px) {
  .digit-box {
    width: 14vw;
  }
  .digit-box button {
    height: 7vw;
    font-size: 4vw;
  }
  .digit-value {
    height: 9vw;
    font-size: 5vw;
    line-height: 9vw;
  }
}
#letterScreen {
  display: none;
  height: 100vh;
  background-color: #ffffff;
}
#imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.relativeBox {
  position: relative;
  width: 90vw;
  max-width: 1000px;
}
#letterImage {
  width: 100%;
  height: auto;
  display: block;
}
#scratchCanvas {
  position: absolute;
  top: 48%;
  left: 70%;
  width: 31%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 8px;
  touch-action: none;
}