* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffe6f0, #ffd6ec);
  position: relative;
}
h1 {
  font-size: medium;
  margin: 100px 0 20px;
  color: #a20060;
  text-align: center;
}
#winDialog p {
  color: #a20060;
}
#doubleNyeheyyySection h2 {
  color: #a20060;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
  gap: 2vw;
  max-width: 100vw;
  padding: 2vw;
  justify-content: center;
  justify-items: center;
}
.card {
  width: 22vw;
  height: 22vw;
  max-width: 100px;
  max-height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card video,
.card img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card.flipped video {
  display: block;
}
.card.flipped img {
  display: none;
}
.card.matched {
  border: 2px solid #D45487;
  cursor: default;
}
.card.matched img {
  display: block;
}
#letterFromDuduContainer img {
  width: 90vw;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 80px auto 30px;
  border-radius: 10px;
}
.hidden {
  display: none !important;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border: 2px solid #D45487;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.dialog-content {
  text-align: center;
}
.dialog button {
  background-color: #f78da7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.dialog button:hover {
  background-color: #d16b80;
}
#noButton {
  background-color: #FFD1DC;
  margin-right: 10px;
}
#noButton:hover {
  background-color: #DEB5BF;
}
.shrink {
  transform: scale(0.7);
  transition: transform 0.3s ease;
}
.hidden-button {
  display: none;
}
#doubleNyeheyyySection {
  text-align: center;
  margin-top: 150px;
}
.nyeheyyy-content {

  display: flex;
  flex-direction: column;
  align-items: center;
}
.nyeheyyy-gif {
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#letterButton {
  background-color: #ff66a3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
#letterButton:hover {
  background-color: #b12e4c;
}
#exit-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f78da7;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#exit-button:hover {
  background-color: #d16b80;
}
#playAgainButton {
  background-color: #ff66a3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#playAgainButton:hover {
  background-color: #D45487;
}